@import 'typography';
@import 'utilities';
@import 'variables';
@import 'components';

body {
  font-family: "Lato", sans-serif;
  color: #353535;
  font-size: 1.125rem;
  background: #F5F5F5;
  margin: 0;
}

.container-wrap {
  max-width: 570px;
  height: 100%;
  margin: auto;
  padding: 0 20px;
}

.btn {
  border-radius: 60px;
  padding: 11px 20px;
  height: 44px;
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  border: none;
  background-color: $primary;

  &:active, &:hover {
    background-color: darken($primary, 15%);
  }

  &__disable {
    background-color: #BFBFBF;
  }
}

.modal {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #35353580;
  padding-top: 3rem;
}
